body {
    margin: 0% 5%;
}
.section-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.cell {
  background-color: aquamarine;
  height: 100px;
  padding: 5%;
}
.spaceX, .spaceY{
  height: 100%;
  width: 100%;
}
.changeTurn{
  color: white;
  background-color: black;
}