body {
    margin: 0% 5%;
}
.section-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20pplayerX;
}
.cell {
  background-color: aquamarine;
  height: 100pplayerX;
  padding: 5%;
}
.spaceplayerX, .spaceY{
  height: 100%;
  width: 100%;
}
.changeTurn{
  color: white;
  background-color: black;
}
.newGame {
  margin: 5%;
  padding:  5%;
  background-color: burlywood;
}
